<div class="main">
    <div class="top-bar"><div>User Access Review Management System</div></div>
    <div class="menu-bar">
        <div class="buttonclass"><button class="menubuttons">Review Submission</button></div>
        <div class="buttonclass"><button class="menubuttons">Pending Reviewes</button></div>
        <div class="buttonclass"><button class="menubuttons">Archives</button></div>
        <div class="buttonclass"><button class="menubuttons">Log Out</button></div>
    </div>
    <div class="content"><router-outlet /></div>
    <div class="footer-bar"><div>Federal Bank Limited</div></div>
</div>